<html>
    <head>
        <title>My blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>The Iranian Navy frigate Jamaran (pictured) accidentally strikes the support vessel Konarak with a missile, killing nineteen sailors.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>A gas leak in Andhra Pradesh, India, kills thirteen people and injures over a thousand others.</p>
        </div>
    </body>
</html>